.Container {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.Container .Card {
    width: 40rem;
    height: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #303030;

    border: 0;
    border-radius: 0.8rem;

    box-shadow: 0 0.6rem 1rem #151515
}

.Container .Card .Card_Title {
    margin: 1rem 0;

    color: #ffffff;
    font-family: 'Consolas';
    text-shadow: 0 0 2px #ffffff;

    transition: 0.5s;
}

.Container .Card .Card_Title:hover {
    text-shadow: 0 0 5px #00eeff;
    cursor: default;
}

.Container .Card:hover > .Card_Title {
    color: #00eeff;
    text-shadow: 0 0 2px #00eeff;

}

.Container .Card hr {
    width: 80%;

    margin-bottom: 3rem;

    transition: 0.5s;
}

.Container .Card:hover > hr {
    width: 90%;
}

.Container .Card form {
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 100%;

    transition: 0.5s;
}

.Container .Card form label {
    color: #ffffff;
    font-size: 1.2rem;
    font-family: 'Consolas';
}

.Container .Card form input {
    background-color: #303030;

    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #ffffff;

    color: #ffffff;

    height: 2rem;

    padding-left: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

.Container .Card form input:hover {
    border-bottom: 2px solid #00eeff;
}

.Container .Card form input:focus{
    outline: none;

    border: 0;
    border-right: 2px solid #00eeff;
    border-left: 2px solid #00eeff;

    background-color: #202020;
}

.Container .Card form button {
    align-self: flex-end;

    height: 3rem;
    width: 25%;

    border: 0;
    border-radius: 0.8rem;

    background-color: #0099ff;

    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 3.2rem;
}
